<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/3658604.jpg);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container position-right mt-3">
  <%= link_to 'Add a movie', "/lists/#{@list.id}/bookmarks/new", class: 'btn-flat' %>
</div>

<div class="container my-3">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-movie">
        <img src="<%= bookmark.movie.poster_url %>" alt="">
        <div class="card-movie-infos">
          <div class='container'>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
          <div class="card-delete"><%= link_to '', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?'}, class: "fas fa-trash-alt" %></div>
          <div class="card-rating"><i class="fas fa-star" style="color: yellow"></i><%= bookmark.movie.rating %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
